# Node modules
node_modules/

# Environment variables
.env
employee-backend/.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Optional
package-lock.json
